.select-container{
    margin-left: 30%;
    float: left;
    width: 15%;
    text-align: left;
    height: 10%;
}

#term, #type-deposit, #btn{
    width: 90%;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 100%;
}

#sum{
    border: 1px solid black;
    border-radius: 10px;
    width: 88%;
    font-size: 100%;
}


#calculate-container{
    width: 40%;
    float: left;
    text-align: center;
    border: 3px solid black;
    height: auto;
    min-height: 70%;
    max-height: 70%;
}

.content{
    height: 50%;
    padding-top: 100px;
}

*{
    height: 100%;
}

.deposit-container{
    height: auto;
}
